/* Enter your custom styles here */

.customBadge {
    color: #ffffff; 
    background-color: #0F828F; 
    padding: 1px 4px 1px 4px; 
    border-radius: 4px;
    font: 72;
    font-weight: 700;
    size: 12px;
    width: 120px;
}